<main-layout>
  <div class="store-main">
    <section class="store-main__hero">
      <h1 class="store-main__hero-title">
        Покупай и продавай в НВК легко и удобно
      </h1>
      <p class="store-main__hero-description">
        Найди все, что нужно. Больше никакого хаоса в чатах — только удобный поиск.
        Сделай жизнь в кампусе комфортнее вместе с нами!
      </p>
      <div class="store-main__hero-actions">
        <n-button
          theme="white"
        >
          Перейти к товарам
        </n-button>
        <n-button
          variant="outlined"
          theme="white"
        >
          Стать продавцом
        </n-button>
      </div>
    </section>
    <section class="store-main__categories section">
      <h2 class="section__title">
        Категории
      </h2>
      <div class="store-main__categories-list">
        @for (category of categories(); track category.id) {
          <store-category-card [category]="category" />
        }
      </div>
    </section>
    <section class="store-main__products section">
      <div class="section__head">
        <h2 class="section__title">
          Подборка товаров
        </h2>
        <button class="section__head-action">
          <span>Все товары</span>
          <n-icon [size]="28">chevron_right</n-icon>
        </button>
      </div>
      <div class="store-main__products-list">
        @for (product of productSelection(); track product.id) {
          <product-card [product]="product"/>
        }
      </div>
    </section>
    <section class="store-main__sellers section">
      <h2 class="section__title">
        Популярные продавцы
      </h2>
      <div class="store-main__sellers-list">
        @for (item of [1, 2, 3, 4, 5, 6]; track item) {
          <div class="store-main__sellers-item">
            литовкин
          </div>
        }
      </div>
    </section>
  </div>
</main-layout>
