@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: black;
  font-family: 'Exo 2', sans-serif;
}

.overlay-backdrop {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
}

.cdk-global-overlay-wrapper {
  justify-content: center !important;
  align-items: center !important;
}


@media (max-width: 600px) {
  .cdk-global-overlay-wrapper {
    justify-content: center !important;
    align-items: flex-end !important;
  }
}
